*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-clr-base);
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bangers;
  letter-spacing: 1.2px;
  text-align: center;
}

h1 {
  text-decoration: underline var(--clr-secondary-blue-light);
}

p {
  font-family: DMS-Regular;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  font-family: DMS-Regular;
  padding: 0.6em 1.2em;
  background-color: var(--bg-clr-secondary-1);
  color: var(--clr-primary-black);
  border: 1px solid var(--clr-primary-black);
  border-radius: 2em;
  cursor: pointer;
}

.card,
.pic-display {
  border-radius: 2em;
  padding: 1em;
  background-color: var(--bg-clr-secondary-2);
  box-shadow: var(--box-shadow-primary-2);
}

.card img,
.pic-display canvas {
  border-radius: 2em;
  border: 3px solid var(--clr-primary-gray);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}
