*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bangers;
  letter-spacing: 1.2px;
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 0.6em 1.2em;
  font-size: 1rem;
  background-color: lightgray;
  color: black;
  border: 1px solid black;
  border-radius: 2em;
  cursor: pointer;
}
