/* main layout */
.main-layout {
  display: grid;
  width: 100%;
  grid-template-columns: 20px 1fr 20px;
  place-items: center;
  justify-content: center;
}

.main-layout > .full {
  grid-column: 1/-1;
}

.main-layout > *:not(.full) {
  grid-column: 2;
}

/* pics content layout */
.pics-grid {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

/* editor tooling layout */
.editor-tooling-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  gap: 2px;
}

/* main-container */
body main.main-container {
  position: relative;
}
