:root {
  /* ---- Primary Colors ---- */
  --clr-primary-black: #000000;
  --clr-primary-white: #ffffff;
  --clr-primary-gray: #808080;

  /* ---- Secondary Colors ---- */
  --clr-secondary-blue-light: rgb(95, 175, 224);
  --clr-secondary-orange-dark: rgb(228, 89, 29);
  --clr-secondary-green: rgb(23, 180, 20);
  --clr-secondary-gold: rgb(255, 215, 0);

  /* ---- Background Colors ---- */
  --bg-clr-base: azure;
  --bg-clr-secondary-1: lightgray;
  --bg-clr-secondary-2: lightslategray;
  --bg-clr-secondary-3: lightskyblue;
  --bg-clr-secondary-4: #333;
  --bg-clr-secondary-5: #555;
  --bg-clr-secondary-6: #777;

  --bg-clr-overlay-1: rgba(184, 183, 183, 0.857);
  --bg-clr-overlay-2: rgba(0, 0, 0, 0.8);
  --bg-clr-overlay-3: rgba(0, 0, 0, 1);
  --bg-clr-overlay-4: rgba(77, 76, 98, 0.967);
  --bg-clr-overlay-5: rgba(4, 0, 52, 0.95);
  --bg-clr-overlay-6: rgba(9, 0, 108, 0.95);
  --bg-clr-overlay-7: rgba(17, 48, 143, 0.95);
  --bg-clr-overlay-8: rgba(211, 211, 211, 0.812);

  /* ---- Box Shadows ---- */
  --box-shadow-primary-1: inset 0 1px rgba(0, 0, 0, 0.5);
  --box-shadow-primary-2: inset 4px 2px 7px 3px rgba(0, 0, 0, 0.5);
  --box-shadow-secondary-1: inset 9px 0px 10px 1px rgba(11, 36, 200, 0.7);
  --box-shadow-secondary-2: inset 0px -6px 0px rgb(95, 175, 224);
  --box-shadow-secondary-3: inset 4px 4px 20px 0px rgba(25, 12, 169, 0.95);
  --box-shadow-secondary-4: 20px -14px 6px 6px rgba(0, 0, 0, 0.2);
}
