section.about {
  width: 90%;
}

.about-container {
  grid-template-columns: 1fr;
  place-items: center;
  grid-template-rows: 150px 150px;

  padding: 1em;
  background-color: var(--bg-clr-overlay-4);
  border-radius: 2em;
}

.about-container img {
  border-radius: 50%;
  max-width: 120px;
}

.about-container .about-me {
  height: 100%;
}

.about-container .about-me h3 {
  margin-block-end: 1em;
}

.about-container .about-me p {
  color: var(--clr-primary-white);
  margin-inline: 1em;
}
