.canvas-container {
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
}

.canvas-container canvas {
  max-width: 85vw;
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.canvas-container canvas:hover {
  cursor: grab;
}
