.canvas-container {
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
}

.canvas-container canvas {
  max-width: 85vw;
  touch-action: none;
}

.canvas-container canvas:hover {
  cursor: grab;
}
