.editor-container {
  grid-column: 3;
  grid-row: 1;
}

.editor-container .editor {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto-fit;
  grid-auto-flow: row;
}
.editor-container .editor > .full {
  grid-column: 1/-1;
}

.editor-container .editor {
  background-color: var(--bg-clr-overlay-8);
}

.editor-container .editor .text-input-container {
  grid-template-rows: 1fr;

  text-align: center;
  justify-items: center;
  align-items: center;

  background-color: var(--bg-clr-overlay-1);
  border-radius: 0.5em;
  padding: 0.3em;
}

.editor-container .editor .text-input-container .meme-text-input {
  width: 100%;
  min-height: 30px;
  text-align: left;
}
