.icon {
  max-width: 1.4em;
  max-height: 1.4em;
}

.icon.icon-keyboard {
  margin-inline-start: 2px;
}

.icon.icon-keyboard,
.icon.icon-font,
.icon.icon-plus,
.icon.icon-minus {
  max-width: 1em;
  max-height: 1em;
}

.icon.icon-align-left,
.icon.icon-align-center,
.icon.icon-align-right,
.icon.icon-align-justify,
.icon.icon-repeat,
.icon.icon-square-plus,
.icon.icon-trash-can {
  max-width: 1.4em;
  max-height: 1.4em;
}

.icon.icon-palette,
.icon.icon-brush,
.icon.icon-bookmark,
.icon.icon-download,
.icon.icon-facebook {
  max-width: 0.8em;
  max-height: 0.8em;
}
