.main-header {
  width: 100vw;
  background-color: var(--bg-clr-secondary-3);
  box-shadow: var(--box-shadow-secondary-1);
  margin-block-end: 1em;
}

.main-header .logo {
  font-size: 2rem;
  line-height: 1rem;
  font-weight: 800;
  font-family: DMS-Bold;
  pointer-events: none;
}
