.nav-link {
  cursor: pointer;
  padding: 1em;
  border-radius: 2em;

  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--clr-secondary-blue-light);
    color: #fff;
    box-shadow: var(--box-shadow-secondary-2);
  }

  &:active {
    scale: 0.9;
  }
}
