section.pics-gallery .pics-grid {
  background-color: var(--bg-clr-secondary-2);
  box-shadow: var(--box-shadow-primary-2);
  border: 3px solid var(--clr-primary-gray);
  border-radius: 1em;
}

.pics-grid .card {
  padding: 1em;
}

.pics-grid .card img {
  border-radius: 1em;
  cursor: pointer;
  transition: scale 0.5s ease-in-out;
}
.pics-grid .card img:hover {
  scale: 1.1;
}

.pics-grid .card.card-pic {
  place-items: center;
  align-content: center;
}

.pic-display {
  border-radius: 2em;
  padding: 1em;
  background-color: var(--bg-clr-secondary-2);
  box-shadow: var(--box-shadow-primary-2);
}

.pic-display canvas {
  border-radius: 2em;
  border: 2px solid var(--clr-primary-gray);
  cursor: pointer;

  transition: scale 0.5s ease-in-out;
}

.pic-display canvas:hover {
  scale: 1.05;
}
